// settings
// header
// main
// video
// footer

// imports
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

// variables
$white: #FFFFFF;
$black: #000000;
$font-size-header-text: 32px;
$font-family: 'Kadwa', serif;

// settings
ul {
    list-style-type: none;
}

// header
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    z-index: 10;

    
    // logo
    .header_logo img {
        opacity: 0.6;
    }

    // haeder manu list
    .header_menu_list {
        display: flex;
        column-gap: 50px;
    }

    // header menu item
    .header_menu_item {
        margin-top: -4rem;
        display: flex;
        column-gap: 47px;
    }

    // header menu link
    .header_menu_link {
        text-decoration: none;
        font-weight: bold;
        font-size: $font-size-header-text;
        color: $white;
        letter-spacing: 1.2px;
        
    }

    // header actions 
    .header_actions {
        margin-top: -6rem;

        // button in header
        .btn_entry_head {
            height: 41px; 
            width: 170px; 
            background: var(--Background-Brand-Default, #2C2C2C); 
            padding: 12px; 
            border-radius: 8px; 
            overflow: hidden; 
            outline-offset: -1px; 
            outline: 1px var(--Border-Brand-Default, #2C2C2C) solid; 
            align-items: center; 
            justify-content: center; 
            display: "inline-flex";
            gap: 8px; 
            font-size: 16px; 
            color: var(--Text-Brand-On-Brand, #F5F5F5); 
            font-weight: 400; 
            font-family: Inter; 
            word-wrap: break-word;
            line-height: 16px; 
        }
    }

    
    
}

// main

// video
.video__bg {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 2;
    overflow: hidden;
    position: absolute;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
}

video {
    width: 100%;
}
