@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.notice {
  margin: 20px 0px;
  border-radius: 18px;
  padding: 10px;
}
.notice.error {
  border: 2px solid #f3d3d3;
  color: #762c2c;
  background: #f3d3d3;
}
.notice.success {
  background: #e1fee3;
  border: 2px solid #2c742b;
  color: #2c742b;
}

.wrapper_add_city {
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 525px;
  height: auto;
  background: #D9D9D9;
  -webkit-box-shadow: 0px 4px 4px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 11px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  padding: 12px;
  margin-top: 7rem;
  display: table-cell;
}
.wrapper_add_city h1 {
  color: black;
  font-size: 60px;
  font-family: inherit;
  font-weight: 600;
  line-height: 56px;
  word-wrap: break-word;
  margin-bottom: 34px;
  margin-top: 2rem;
}
.wrapper_add_city input[type=text] {
  width: 85%;
  outline: none;
  border: none;
  padding: 16px 14px;
  padding-right: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.wrapper_add_city textarea {
  width: 27rem;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
}
.wrapper_add_city .btn_entry {
  width: 434px;
  height: 56px;
  padding: 12px;
  margin-bottom: 20px;
  color: #FFFFFF;
  background: #2C2C2C;
  overflow: hidden;
  border-radius: 8px;
  outline: 1px var(--Border-Brand-Default, #2C2C2C) solid;
  outline-offset: -1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 566px) {
  .wrapper_add_city {
    width: 458px;
    height: 460px;
  }
  .wrapper_add_city h1 {
    font-size: 50px;
  }
  .wrapper_add_city .btn_entry {
    width: 360px;
    height: 56px;
  }
  .wrapper_add_city textarea {
    width: 23rem;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
}
@media (max-width: 462px) {
  .wrapper_add_city {
    width: 400px;
    height: 460px;
  }
  .wrapper_add_city h1 {
    font-size: 50px;
  }
  .wrapper_add_city .btn_entry {
    width: 360px;
    height: 56px;
  }
  .wrapper_add_city .btn_register {
    width: 360px;
    height: 52px;
  }
  .wrapper_add_city textarea {
    width: 20rem;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
  .wrap_politic_policy input[type=checkbox] {
    margin-left: -14rem;
  }
}
@media (max-width: 408px) {
  .wrapper_add_city {
    width: 349px;
    height: 470px;
    margin-top: 0rem;
  }
  .wrapper_add_city h1 {
    font-size: 35px;
  }
  .wrapper_add_city .btn_entry {
    width: 287px;
    height: 56px;
  }
  .wrapper_add_city .btn_register {
    width: 287px;
    height: 52px;
  }
  .wrapper_add_city textarea {
    width: 18rem;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
}
@media (max-width: 348px) {
  .wrapper_add_city {
    width: 349px;
    height: 470px;
    margin-top: 0rem;
  }
  .wrapper_add_city h1 {
    font-size: 35px;
  }
  .wrapper_add_city .btn_entry {
    width: 287px;
    height: 56px;
  }
  .wrapper_add_city .btn_register {
    width: 287px;
    height: 52px;
  }
  .wrapper_add_city input[type=text] {
    width: 80%;
  }
  .wrapper_add_city textarea {
    width: 16rem;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
}