@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap");
ul {
  list-style-type: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  z-index: 10;
}
header .header_logo img {
  opacity: 0.6;
}
header .header_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
header .header_menu_item {
  margin-top: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 47px;
     -moz-column-gap: 47px;
          column-gap: 47px;
}
header .header_menu_link {
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 1.2px;
}
header .header_actions {
  margin-top: -6rem;
}
header .header_actions .btn_entry_head {
  height: 41px;
  width: 170px;
  background: var(--Background-Brand-Default, #2C2C2C);
  padding: 12px;
  border-radius: 8px;
  overflow: hidden;
  outline-offset: -1px;
  outline: 1px var(--Border-Brand-Default, #2C2C2C) solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: "inline-flex";
  gap: 8px;
  font-size: 16px;
  color: var(--Text-Brand-On-Brand, #F5F5F5);
  font-weight: 400;
  font-family: Inter;
  word-wrap: break-word;
  line-height: 16px;
}

.video__bg {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: hidden;
  position: absolute;
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 10;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

video {
  width: 100%;
}