//-----------------------
// variables
//-----------------------
$white: #FFFFFF;
$color-wrapper: #D9D9D9;
$color-input: #dfe9f5;
$font-family_for_entry:"Roboto Mono";



//-----------------------
// animation
//-----------------------
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

//-----------------------
// for messages
//-----------------------
.notice {
    margin: 20px 0px;
    border-radius: 18px;
    padding: 10px;

    &.error {
        border: 2px solid #f3d3d3;
        color: #762c2c;
        background: #f3d3d3;

    }
    &.success {
        background: #e1fee3;
        border: 2px solid #2c742b;
        color: #2c742b;
    }
}

//-------------------------------------------
// for the add city
//-------------------------------------------
.wrapper_add_city {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    width: 525px;
    height: auto;
    background: #D9D9D9; 
    box-shadow: 0px 4px 4px 11px rgba(0, 0, 0, 0.25); 
    border-radius: 18px;
    padding: 12px;
    margin-top: 7rem;
    display: table-cell;


    h1 {
        color: black;
        font-size: 60px;
        font-family: inherit;
        font-weight: 600;
        line-height: 56px;
        word-wrap: break-word;
        margin-bottom: 34px;
        margin-top: 2rem;
    } 

    input[type="text"] {
        width: 85%;
        outline: none;
        border: none;
    
        padding: 16px 14px;
        padding-right: 40px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    textarea {
        width: 27rem;
        height: auto;
        margin-bottom: 1rem;
        border-radius: 8px;
    }


    .btn_entry {
        width: 434px; 
        height: 56px; 
        padding: 12px; 
        margin-bottom: 20px;
        color: $white;
        background: #2C2C2C; 
        overflow: hidden; 
        border-radius: 8px; 
        outline: 1px var(--Border-Brand-Default, #2C2C2C) solid; 
        outline-offset: -1px; 
        justify-content: center;
        align-items: center; 
        gap: 8px; 
        display: inline-flex;
    }

}


@media (max-width: 566px) {
    //-----------------------
    // for the add city page
    //-----------------------
    .wrapper_add_city {
        width: 458px;
        height: 460px;
 
        h1 {
            font-size: 50px;
        } 

        .btn_entry {
            width: 360px; 
            height: 56px; 
        }

        textarea {
            width: 23rem;
            height: auto;
            margin-bottom: 1rem;
            border-radius: 8px;
        }
    }

}


@media (max-width: 462px) {

    //-----------------------
    // for the add city page
    //-----------------------
    .wrapper_add_city {
        width: 400px;
        height: 460px;
 
        h1 {
            font-size: 50px;
        } 

        .btn_entry {
            width: 360px; 
            height: 56px; 
        }

        .btn_register {
            width: 360px; 
            height: 52px; 
        }

        textarea {
            width: 20rem;
            height: auto;
            margin-bottom: 1rem;
            border-radius: 8px;
        }

    }

    // checkbox
    .wrap_politic_policy {
        input[type="checkbox"] {
            margin-left: -14rem;
        }
    }
}

@media (max-width: 408px) {
    //-----------------------
    // for the add city page
    //-----------------------
    .wrapper_add_city {
        width: 349px;
        height: 470px;
        margin-top: 0rem;

        h1 {
            font-size: 35px;
        }

        .btn_entry {
            width: 287px; 
            height: 56px; 
        }

        .btn_register {
            width: 287px; 
            height: 52px; 
        }

        textarea {
            width: 18rem;
            height: auto;
            margin-bottom: 1rem;
            border-radius: 8px;
        }

    }
}

@media (max-width: 348px) {
    //-----------------------
    // for the add city page
    //-----------------------
    .wrapper_add_city {
        width: 349px;
        height: 470px;
        margin-top: 0rem;

        h1 {
            font-size: 35px;
        }

        .btn_entry {
            width: 287px; 
            height: 56px; 
        }

        .btn_register {
            width: 287px; 
            height: 52px; 
        }

        input[type="text"] {
            width: 80%;
        }

        textarea {
            width: 16rem;
            height: auto;
            margin-bottom: 1rem;
            border-radius: 8px;
        }

    }
}

