//-----------------------
// variables
//-----------------------
$white: #FFFFFF;
$color-wrapper: #D9D9D9;
$color-input: #dfe9f5;
$font-family_for_entry:"Roboto Mono";

.privacy_policy {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.wrap_politic_policy {
    p {
        margin-top: -2rem;
        font-size: 17px;
        margin-left: 2rem;
    }

    input[type="checkbox"] {
        margin-left: -28rem;
        width: 2rem;
        height: 1.5rem;
    }
}

//-----------------------
// animation
//-----------------------
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

//-----------------------
// for messages
//-----------------------
.notice {
    margin: 20px 0px;
    border-radius: 18px;
    padding: 10px;

    &.error {
        border: 2px solid #f3d3d3;
        color: #762c2c;
        background: #f3d3d3;

    }
    &.success {
        background: #e1fee3;
        border: 2px solid #2c742b;
        color: #2c742b;
    }
}

//-----------------------
// for the login and register page
//-----------------------
.wrapper {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    width: 525px;
    height: auto;
    background: #D9D9D9; 
    box-shadow: 0px 4px 4px 11px rgba(0, 0, 0, 0.25); 
    border-radius: 18px;
    padding: 12px;
    margin-top: 7rem;

    h1 {
        color: black;
        font-size: 60px;
        font-family: inherit;
        font-weight: 600;
        font-weight: 600;
        line-height: 56px;
        word-wrap: break-word;
        margin-bottom: 32px;
        margin-top: 3rem;
    } 

    input[type="text"], input[type="password"] {
        width: 85%;
        outline: none;
        border: none;
    
        padding: 16px 14px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .btn_entry {
        width: 434px; 
        height: 56px; 
        padding: 12px; 
        margin-bottom: 20px;
        color: $white;
        background: #2C2C2C; 
        overflow: hidden; 
        border-radius: 8px; 
        outline: 1px var(--Border-Brand-Default, #2C2C2C) solid; 
        outline-offset: -1px; 
        justify-content: center;
        align-items: center; 
        gap: 8px; 
        display: inline-flex;
    }

    .btn_register {
        width: 437px; 
        height: 52px; 
        padding: 12px; 
        text-decoration: none;
        background: var(--Background-Danger-Default, #EC221F); 
        color: $white;
        overflow: hidden; 
        border-radius: 8px; 
        outline: 1px var(--Border-Danger-Secondary, #C00F0C) solid; 
        outline-offset: -1px; 
        justify-content: center; 
        align-items: center; 
        gap: 8px; 
        display: inline-flex
    }

    // for show and show password
    .password_wrapper {
        margin-right: -2rem;
    }
    .password_control {
        position: static; /* или absolute в зависимости от контекста */
        top: 50%; /* Центрирование по вертикали */
        left: 50%; /* Центрирование по горизонтали */
        transform: translate(-10px, 10px);/* Смещение от центра */
        display: inline-block;
        width: 27px;
        height: 38px;
        background: url('../../../public/image/icon/eye-on.svg') center/contain no-repeat;
        color: transparent;
        font-size: 0;
        z-index: 1000;
    }

    .password_control.view {
        background: url('../../../public/image/icon/eye-off.svg') center/contain no-repeat;
    }
    
}

//-----------------------
// for the register page
//-----------------------
.wrapper_register {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    width: 525px;
    height: auto;
    background: #D9D9D9; 
    box-shadow: 0px 4px 4px 11px rgba(0, 0, 0, 0.25); 
    border-radius: 18px;
    padding: 12px;
    margin-top: 7rem;
    display: table-cell;


    h1 {
        color: black;
        font-size: 60px;
        font-family: inherit;
        font-weight: 600;
        line-height: 56px;
        word-wrap: break-word;
        margin-bottom: 34px;
        margin-top: 2rem;
    } 

    input[type="text"], input[type="password"], input[type="email"] {
        width: 85%;
        outline: none;
        border: none;
    
        padding: 16px 14px;
        padding-right: 40px;
        margin-bottom: 20px;
        border-radius: 10px;
    }


    .btn_entry {
        width: 434px; 
        height: 56px; 
        padding: 12px; 
        margin-bottom: 20px;
        color: $white;
        background: #2C2C2C; 
        overflow: hidden; 
        border-radius: 8px; 
        outline: 1px var(--Border-Brand-Default, #2C2C2C) solid; 
        outline-offset: -1px; 
        justify-content: center;
        align-items: center; 
        gap: 8px; 
        display: inline-flex;
    }

    .btn_register {
        width: 437px; 
        height: 52px; 
        padding: 12px; 
        text-decoration: none;
        background: var(--Background-Danger-Default, #EC221F); 
        color: $white;
        overflow: hidden; 
        border-radius: 8px; 
        outline: 1px var(--Border-Danger-Secondary, #C00F0C) solid; 
        outline-offset: -1px; 
        justify-content: center; 
        align-items: center; 
        gap: 8px; 
        display: inline-flex
    }

    // for show and show password
    .password_wrapper {
        margin-right: -2rem;
    }
    .password_control {
        position: static;
        transform: translate(-10px, 10px);
        display: inline-block;
        width: 27px;
        height: 38px;
        background: url('../../../public/image/icon/eye-on.svg') center/contain no-repeat;
        color: transparent;
    }

    .password_control.view {
        background: url('../../../public/image/icon/eye-off.svg') center/contain no-repeat;
    }

}


@media (max-width: 566px) {
    //-----------------------
    // for the login and register page
    //-----------------------
    .wrapper {
        width: 436px;
        height: 494px;

        h1 {
            font-size: 50px;
        }

        .btn_entry {
            width: 360px; 
            height: 56px; 
        }

        .btn_register {
            width: 360px; 
            height: 52px; 
        }
    }

    //-----------------------
    // for the register page
    //-----------------------
    .wrapper_register {
        width: 458px;
        height: 528px;
 
        h1 {
            font-size: 50px;
        } 

        .btn_entry {
            width: 360px; 
            height: 56px; 
        }

        .btn_register {
            width: 360px; 
            height: 52px; 
        }

    }

    // checkbox
    .wrap_politic_policy {
        input[type="checkbox"] {
            margin-left: -25rem;
        }
    }
}

@media (max-width: 462px) {
    //-----------------------
    // for the login and register page
    //-----------------------
    .wrapper {
        width: 406px;
        height: 494px;

        h1 {
            font-size: 50px;
        }

        .btn_entry {
            width: 360px; 
            height: 56px; 
        }

        .btn_register {
            width: 360px; 
            height: 52px; 
        }

    }

    //-----------------------
    // for the register page
    //-----------------------
    .wrapper_register {
        width: 400px;
        height: 618px;
 
        h1 {
            font-size: 50px;
        } 

        .btn_entry {
            width: 360px; 
            height: 56px; 
        }

        .btn_register {
            width: 360px; 
            height: 52px; 
        }

    }

    // checkbox
    .wrap_politic_policy {
        input[type="checkbox"] {
            margin-left: -14rem;
        }
    }
}

@media (max-width: 412px) {
    //-----------------------
    // for the login and register page
    //-----------------------
    .wrapper {
        width: 314px;
        height: 555px;
        margin-top: 0rem;

        h1 {
            font-size: 35px;
        }

        .btn_entry {
            width: 244px;
            height: 56px; 
        }

        .btn_register {
            width: 244px; 
            height: 52px; 
        }

    }

    //-----------------------
    // for the register page
    //-----------------------
    .wrapper_register {
        width: 349px;
        height: 616px;
        margin-top: 0rem;

        h1 {
            font-size: 35px;
        }

        .btn_entry {
            width: 287px; 
            height: 56px; 
        }

        .btn_register {
            width: 287px; 
            height: 52px; 
        }

    }
}

