// settings
// set background
// header
// main

// variables
$white: #FFFFFF;
$black: #000000;
$font-size-header-text: 32px;
$font-family: 'Kadwa', serif;
$color-bg-btn-up: #2C2C2C;
$color-btn-up: #F5F5F5;

// settings
// set background
body {
    background-image: url('../../../public/image/bg/old-paper-bg.png');
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

// header
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: relative;
    width: 100%;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
    background-color: rgba(255, 252, 252, 0.5);

    // show and close button 
    .btn_show_menu, .btn_close_menu  {
        position: absolute;
        margin-top: -1rem;
        color: inherit;
        background: none;
        border: none;
        padding: 0;
        right: 0;

        & img {
            width: 40%;
        }
    }

    // logo
    .header_logo img {
        opacity: 0.6;
        width: 120px;
        height: auto;
        min-width: 100%;
    }

    // haeder manu list
    .header_menu_list {
        display: flex;
        gap: 50px;
        margin-left: -2rem;
    }

    // header menu item
    .header_menu_item {
        display: flex;
        gap: 30px;
        margin: 0;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    // header menu form
    .header_menu_form {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    // header menu link
    .header_menu_link {
        border: none;
        background: inherit;
        text-decoration: none;
        font-weight: bold;
        font-size: clamp(16px, 3vw, $font-size-header-text);
        color: #aea6a6;
        letter-spacing: 1.2px;
        white-space: nowrap;
        transition: opacity 0.3s;

        &:hover {
            color: #413939;
        }
        
    }

    

    // header actions 
    .header_actions {
        margin: 0;

        // button exit from profile
        .btn_logout_head {
            width: 166px; 
            height: 41px;
            text-decoration: none; 
            padding: 12px; 
            background: var(--Background-Brand-Default, #2C2C2C); 
            color: $white;
            overflow: hidden; 
            border-radius: 8px; 
            outline: 1px var(--Border-Brand-Default, #2C2C2C) solid; 
            outline-offset: -1px; 
            justify-content: center; 
            align-items: center; 
            gap: 8px; 
            display: inline-flex;
            cursor: pointer;
           
    
            &:hover {
                background: #636262;
            }
        }

        // btn add heroe
        .btn_add_heroe_head {
            width: 166px; 
            height: 41px;
            text-decoration: none; 
            padding: 12px; 
            background: var(--Background-Neutral-Secondary-Hover, #B2B2B2);
            color: $white;
            overflow: hidden; 
            border-radius: 8px; 
            outline: 1px var(--Border-Brand-Default, #2C2C2C) solid; 
            outline-offset: -1px; 
            justify-content: center; 
            align-items: center; 
            gap: 8px; 
            display: inline-flex;
            cursor: pointer;
           
    
            &:hover {
                background: #797878;
            }
        }
    }
}

// main
.wrapper_for_profile_info {
    width: 699px;
    height: 700px;
    background: #F8F4EC;
    box-shadow: 0px 4px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin-top: 2rem;

    h1 {
        font-family: inherit;
        font-weight: 600;
        font-size: 60px;
        margin-bottom: 2rem;
    }

    label {
        font-weight: 600;
        font-size: 45px;
        margin-bottom: 1rem;
    }

    input {
        font-size: 35px;
        width: 27rem;
        border-radius: 18px;
    }

    .profile_name_input {
        margin-left: 8rem;
    }

    .profile_patronymic_input {
        margin-left: 0.5rem;
    }

    .profile_login_input {
        margin-left: 5rem;
    }

    .profile_email_input {
        margin-left: 5.2rem;
    }

    // buttons
    .btn_edit {
        width: 661.49px;
        height: 54.06px;
        margin-top: 1rem;
        padding: 12px;
        background: #0088FF;
        overflow: hidden;
        border-radius: 8px;
        outline-offset: -1px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        display: inline-flex;

        // text btn
        color: black; 
        font-size: 16px; 
        font-family: inherit; 
        font-weight: 400; 
        line-height: 16px; 
        word-wrap: break-word
    }

    // btn done disabled
    .btn_done {
        width: 661.49px;
        height: 54.06px;
        margin-top: 1rem;
        padding: 12px;
        background: gray;
        overflow: hidden;
        border-radius: 8px;
        outline-offset: -1px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        display: inline-flex;

        // text btn
        color: black; 
        font-size: 16px; 
        font-family: inherit; 
        font-weight: 400; 
        line-height: 16px; 
        word-wrap: break-word
    }
    // btn done enable
    .btn_done.show {
        width: 661.49px;
        height: 54.06px;
        margin-top: 1rem;
        padding: 12px;
        background: #34C759;
        overflow: hidden;
        border-radius: 8px;
        outline-offset: -1px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        display: inline-flex;

        // text btn
        color: black; 
        font-size: 16px; 
        font-family: inherit; 
        font-weight: 400; 
        line-height: 16px; 
        word-wrap: break-word
    }
}