body {
  background-image: url("../../../public/image/bg/old-paper-bg.png");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kadwa", serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: rgba(255, 252, 252, 0.5);
}
header .btn_show_menu, header .btn_close_menu {
  position: absolute;
  margin-top: -1rem;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  right: 0;
}
header .btn_show_menu img, header .btn_close_menu img {
  width: 40%;
}
header .header_logo img {
  opacity: 0.6;
  width: 120px;
  height: auto;
  min-width: 100%;
}
header .header_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: -2rem;
}
header .header_menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header_menu_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_menu_link {
  border: none;
  background: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(16px, 3vw, 32px);
  color: #aea6a6;
  letter-spacing: 1.2px;
  white-space: nowrap;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
header .header_menu_link:hover {
  color: #413939;
}
header .header_actions {
  margin: 0;
}
header .header_actions .btn_logout_head {
  width: 166px;
  height: 41px;
  text-decoration: none;
  padding: 12px;
  background: var(--Background-Brand-Default, #2C2C2C);
  color: #FFFFFF;
  overflow: hidden;
  border-radius: 8px;
  outline: 1px var(--Border-Brand-Default, #2C2C2C) solid;
  outline-offset: -1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}
header .header_actions .btn_logout_head:hover {
  background: #636262;
}
header .header_actions .btn_add_heroe_head {
  width: 166px;
  height: 41px;
  text-decoration: none;
  padding: 12px;
  background: var(--Background-Neutral-Secondary-Hover, #B2B2B2);
  color: #FFFFFF;
  overflow: hidden;
  border-radius: 8px;
  outline: 1px var(--Border-Brand-Default, #2C2C2C) solid;
  outline-offset: -1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}
header .header_actions .btn_add_heroe_head:hover {
  background: #797878;
}
header .header_actions .btn_add_city_head {
  width: 166px;
  height: 41px;
  text-decoration: none;
  padding: 12px;
  background: var(--Background-Neutral-Secondary-Hover, #B2B2B2);
  color: #FFFFFF;
  overflow: hidden;
  border-radius: 8px;
  outline: 1px var(--Border-Brand-Default, #2C2C2C) solid;
  outline-offset: -1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}
header .header_actions .btn_add_city_head:hover {
  background: #797878;
}

.wrapper_for_profile_info {
  width: 699px;
  height: 700px;
  background: #F8F4EC;
  -webkit-box-shadow: 0px 4px 4px 26px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  margin-top: 2rem;
}
.wrapper_for_profile_info h1 {
  font-family: inherit;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 2rem;
}
.wrapper_for_profile_info label {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 1rem;
}
.wrapper_for_profile_info input {
  font-size: 35px;
  width: 27rem;
  border-radius: 18px;
}
.wrapper_for_profile_info .profile_name_input {
  margin-left: 8rem;
}
.wrapper_for_profile_info .profile_patronymic_input {
  margin-left: 0.5rem;
}
.wrapper_for_profile_info .profile_login_input {
  margin-left: 5rem;
}
.wrapper_for_profile_info .profile_email_input {
  margin-left: 5.2rem;
}
.wrapper_for_profile_info .btn_edit {
  width: 661.49px;
  height: 54.06px;
  margin-top: 1rem;
  padding: 12px;
  background: #0088FF;
  overflow: hidden;
  border-radius: 8px;
  outline-offset: -1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}
.wrapper_for_profile_info .btn_done {
  width: 661.49px;
  height: 54.06px;
  margin-top: 1rem;
  padding: 12px;
  background: gray;
  overflow: hidden;
  border-radius: 8px;
  outline-offset: -1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: black;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}

@media (max-width: 846px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 15px;
    background-color: #2C2C2C;
  }
  header .header_actions .btn_entry_head {
    background-color: #6d6969;
  }
  header .header_actions .btn_entry_head:hover {
    background-color: #a09d9d;
  }
}
@media (max-width: 702px) {
  .header_menu_item {
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_menu_form {
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_menu_link {
    font-size: 16px;
  }
  .wrapper_for_profile_info {
    width: 540px;
    height: 935px;
  }
  .wrapper_for_profile_info h1 {
    margin-bottom: 0rem;
  }
  .wrapper_for_profile_info .profile_name_input {
    margin-left: 0rem;
  }
  .wrapper_for_profile_info .profile_login_input {
    margin-left: 0rem;
  }
  .wrapper_for_profile_info .profile_email_input {
    margin-left: 0rem;
  }
  .wrapper_for_profile_info .btn_edit {
    width: 439.49px;
  }
  .wrapper_for_profile_info .btn_done {
    width: 439.49px;
  }
}
@media (max-width: 538px) {
  .wrapper_for_profile_info {
    width: 492px;
    height: 931px;
  }
}
@media (max-width: 494px) {
  .wrapper_for_profile_info {
    width: 450px;
    height: 931px;
  }
}
@media (max-width: 454px) {
  .wrapper_for_profile_info {
    width: 364px;
    height: 1007px;
  }
  .wrapper_for_profile_info input {
    font-size: 35px;
    width: 19rem;
    border-radius: 18px;
  }
  .wrapper_for_profile_info .btn_edit {
    width: 325.49px;
  }
  .wrapper_for_profile_info .btn_done {
    width: 329.49px;
  }
}